@(paperForm: Form[Paper],papers: List[Paper], confoptions:Map[String, String], confname: String)

@import helper._

@import b3.vertical.fieldConstructor

@main {
    <table border=0 cellpadding=0 cellspacing=0 width="100%" style="background: #0064cd"><tr>
        <td width="60%">
            <div align="left"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif"><strong><em>Conference Management System</em></strong></font></div>
        </td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/conference'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Conferences</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/paper'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Paper</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/review'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Review</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/profile'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Profile</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/verifyChangePwdAuth'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Change Password</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/logout'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Logout</font></div></td>

    </tr>
    </table>

    <h1>Here is the list of papers assigned to you. Use the download link to get the file, and the submit review link to enter or modify your review results.</h1>



    @b3.select(
        paperForm("conference"),
        options(confoptions),
        '_label -> "Select", 'value -> confname,
        '_showConstraints -> false
    )


    @b3.form(routes.ShowPaperController.showMyPaper()) {

        <fieldset>

            <table class="mypaper zebra-striped">
                <thead>
                    <tr>
                        <th>paper id </th>
                        <th>paper title</th>
                        <th>paper authors</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>

                @for(paper <- papers) {
                    <tr>
                        <td>@paper.id</td>
                        <td>@paper.title</td>
                        <td>@paper.authors</td>
                        <td>
                            <a href="@routes.ReviewerController.download(paper.id)">download</a>
                            <a href="@routes.ReviewerController.review(paper.review, paper.id)">Update review</a>
                            <a href="@routes.ReviewerController.showreview(paper.review)">See review</a>
                            <a href="@routes.ReviewerController.printreview(paper.review)">Print review</a>
                        </td>
                    </tr>
                }

                </tbody>
            </table>

        </fieldset>


    }
}