@(confcountInfo: List[ConfCount])

@import helper._

@import b3.vertical.fieldConstructor

@main {
    <table border=0 cellpadding=0 cellspacing=0 width="100%" style="background: #0064cd"><tr>
        <td><img src="@routes.Assets.at("images/logo.png")" width="28" height="22" /></td>

        <td width="60%">
            <div align="left"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif"><strong><em>Conference Management System</em></strong></font></div>
        </td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/conference'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Conferences</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/paper'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Paper</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/review'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Review</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/profile'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Profile</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/verifyChangePwdAuth'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Change Password</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/logout'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Logout</font></div></td>

    </tr>
    </table>

    <h1>Conference related to me</h1>

    @b3.form(routes.ShowPaperController.showMyPaper()) {

        <fieldset>

            <table class="mypaper zebra-striped">
                <thead>
                    <tr>
                        <th>Conference name </th>
                        <th>papers assigned to me</th>
                        <th>papers reviewed</th>
                        <th>papers left</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>

                @for(confcount <- confcountInfo) {
                    <tr>
                        <td>@confcount.conf</td>
                        <td>@confcount.assigned</td>
                        <td>@confcount.reviewed</td>
                        <td>@confcount.left</td>
                        <td><a href="@routes.ReviewerController.enterReviewPaper(confcount.conf)">Modify</a></td>
                    </tr>
                }

                </tbody>
            </table>

        </fieldset>


    }
}