@(conferenceForm: Form[Conference], conferenceInfo: List[Conference], session: Http.Session)

@import helper._

@import b3.vertical.fieldConstructor

@main {
    <table border=0 cellpadding=0 cellspacing=0 width="100%" style="background: #0064cd"><tr>
        <td width="60%">
            <div align="left"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif"><strong><em>Conference Management System</em></strong></font></div>
        </td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/conference'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Conferences</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/paper'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Paper</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/profile'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Profile</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/verifyChangePwdAuth'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Change Password</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/logout'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Logout</font></div></td>

    </tr>
    </table>

    <h1>Show My Conference</h1>

    @b3.form(routes.ShowConferenceController.showMyConference()) {

        <fieldset>
            <div id="actions">
                @b3.select( conferenceForm("status"), options("All" -> "All Status", "Active" -> "Active", "Archived" -> "Archived"), '_label -> "Select" )

                <form action="@routes.ShowConferenceController.searchConference(f)" method="Post">
                    <input type="search" id="searchbox" name="f"  placeholder="...">
                    <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
                </form>

            </div>

            <table class="mypaper zebra-striped">
                <thead>
                    <tr>
                        <th>Conference Acronym</th>
                        <th>Location / Date	</th>
                        <th>Status</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>

                @for(conference <- conferenceInfo) {
                    <tr>
                        <td>@conference.title</td>
                        <td>@conference.location / @conference.date</td>
                        <td>@conference.status</td>
                        <td><a href="@routes.ShowPaperController.showMyConference()">Paper</a></td>
                            @if(conferecne.ifreviewer == "Y") {
                                <td><a href="@routes.ReviewerController.enterReviewPaper(conference.name)">Review</a></td>
                            } else {
                                <td>Review</td>
                            }
                        @if(conference.ifadmin == "Y") {
                            <td><a href="@routes.PaperController.edit(paper.id)">Admin</a></td>
                        } else {
                            <td>Admin</td>
                        }

                        @*<td>Modify</td>*@
                    </tr>
                }

                </tbody>
            </table>

        </fieldset>

        <div class="actions">
            <input type="submit" value="Show My Papers" class="btn primary"> or
            <a href="@routes.ShowPaperController.showMyConference()" class="btn">Cancel</a>
        </div>

    }


}