@(profileForm: Form[Profile])

@import helper._

@import b3.vertical.fieldConstructor

@main {

<h1>Add a computer</h1>

@b3.form(routes.HomeController.save()) {

<fieldset>
    @b3.radio(computerForm("title"), '_label -> "Title", options = Seq("mr"->"Mr.","ms"->"Ms.","dr"->"Dr."))

    @b3.text(computerForm("research"), '_label -> "Research areas", '_help -> "")
    @b3.text(computerForm("firstName"), '_label -> "First Name", '_help -> "")
    @b3.text(computerForm("lastName"), '_label -> "Last Name", '_help -> "")
    @b3.text(computerForm("position"), '_label -> "Position", '_help -> "")
    @b3.text(computerForm("affiliation"), '_label -> "Affiliation", '_help -> "")

    @b3.email(computerForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com")
    @b3.tel(computerForm("phone"), '_label -> "Phone", '_help -> "")
    @b3.text(computerForm("fax"), '_label -> "Fax", '_help -> "")

    @b3.textarea(computerForm("address"), '_label -> "Address", 'rows -> 3)
    @b3.text(computerForm("city"), '_label -> "City", '_help -> "")
    @b3.text(computerForm("country"), '_label -> "Country", '_help -> "")
    @b3.text(computerForm("region"), '_label -> "Region", '_help -> "")

    @b3.number(computerForm("zipcode"), '_label -> "Zip Code", 'min -> 0, 'max -> 99999)
    @b3.text(computerForm("comment"), '_label -> "Comments", '_help -> "")

</fieldset>

<div class="actions">
    <input type="submit" value="Create this computer" class="btn primary"> or
    @*************************************
    <a href="@routes.HomeController.list()" class="btn">Cancel</a>
    *************************************@
</div>

}

}