@(paperForm: Form[Paper], paperInfo: List[Paper], authors: String)

@import helper._

@import b3.vertical.fieldConstructor

@main {
    <table border=0 cellpadding=0 cellspacing=0 width="100%" style="background: #0064cd"><tr>
        <td width="60%">
            <div align="left"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif"><strong><em>Conference Management System</em></strong></font></div>
        </td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Conferences</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/papers'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Paper</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/profile'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Profile</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/verifyChangePwdAuth'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Change Password</font></div></td>
        <td valign="middle" align="right" width="8%"><div style="cursor: pointer" onclick="location.href='/logout'"><font color="#F5EACD"  size="+2" face="Georgia, Times New Roman, Times, serif">Logout</font></div></td>

    </tr>
    </table>

    <h1>Show My Paper</h1>

    <a class="btn success" id="add" href="@routes.PaperController.create()">Add a new paper</a>
    @b3.form(routes.ShowPaperController.showMyPaper()) {

        <fieldset>
            @b3.select( paperForm("conference"), options({"C" -> "myConference"}), '_label -> "Select" )

            <table class="mypaper zebra-striped">
                <thead>
                    <tr>
                        <th>Paper Id / Title </th>
                        <th>Conference / Submission Deadline</th>
                        <th>Authors / Contact email</th>
                        <th>Topic</th>
                        <th>Status</th>
                        <th>Format / File Size</th>
                        <th>Submission Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                @for(paper <- paperInfo) {
                    <tr>
                        <td>@paper.id    @paper.title</td>
                        <td>@paper.conference </td>
                        @*should deal if author exist*@
                        <td>@paper.authors</td>
                        <td>@paper.topic</td>
                        <td>@paper.status</td>

                            @if(paper.ifsubmit == "Y") {
                                <td>@paper.format @paper.papersize byte</td>
                            } else {
                                <td><a class="btn success" id="upload" href="@routes.PaperController.uploadFile(paper.id)">Upload a new paper</a></td>
                            }

                        <td>@paper.date</td>
                        <td><a href="@routes.PaperController.edit(paper.id)">Modify</a></td>
                        @*<td>Modify</td>*@
                    </tr>
                }

                </tbody>
            </table>

        </fieldset>

        <div class="actions">
            <input type="submit" value="Show My Papers" class="btn primary"> or
            <a href="@routes.ShowPaperController.showMyPaper()" class="btn">Cancel</a>
        </div>

    }

    @if(session.containsKey("Submitted") && session.get("Submitted").toString == "ok"){
        <script>
            var str = "Thank you. Your paper abstract has been submitted successfully. Please keep your paper id:"+@Http.Context.current().session().get("paperid");
            alert(str);
        </script>
        @{
            session.remove("Submitted")
            session.remove("paperid")
        }

    }
}